SIDEMENU_10 RCDATA "Resources\\SideMenuLogo\\scale_1.0.png"
SIDEMENU_15 RCDATA "Resources\\SideMenuLogo\\scale_1.5.png"
SIDEMENU_20 RCDATA "Resources\\SideMenuLogo\\scale_2.0.png"
SIDEMENU_25 RCDATA "Resources\\SideMenuLogo\\scale_2.5.png"
SIDEMENU_30 RCDATA "Resources\\SideMenuLogo\\scale_3.0.png"
SIDEMENU_35 RCDATA "Resources\\SideMenuLogo\\scale_3.5.png"
SIDEMENU_40 RCDATA "Resources\\SideMenuLogo\\scale_4.0.png"
